In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pprint as pp

%matplotlib inline

In [2]:
train_data = pd.read_csv('data/train.csv')

In [3]:
list(train_data)

['id',
 'timestamp',
 'full_sq',
 'life_sq',
 'floor',
 'max_floor',
 'material',
 'build_year',
 'num_room',
 'kitch_sq',
 'state',
 'product_type',
 'sub_area',
 'area_m',
 'raion_popul',
 'green_zone_part',
 'indust_part',
 'children_preschool',
 'preschool_quota',
 'preschool_education_centers_raion',
 'children_school',
 'school_quota',
 'school_education_centers_raion',
 'school_education_centers_top_20_raion',
 'hospital_beds_raion',
 'healthcare_centers_raion',
 'university_top_20_raion',
 'sport_objects_raion',
 'additional_education_raion',
 'culture_objects_top_25',
 'culture_objects_top_25_raion',
 'shopping_centers_raion',
 'office_raion',
 'thermal_power_plant_raion',
 'incineration_raion',
 'oil_chemistry_raion',
 'radiation_raion',
 'railroad_terminal_raion',
 'big_market_raion',
 'nuclear_reactor_raion',
 'detention_facility_raion',
 'full_all',
 'male_f',
 'female_f',
 'young_all',
 'young_male',
 'young_female',
 'work_all',
 'work_male',
 'work_female',
 'ekder_all',
 'ekder_male',
 'ekder_female',
 '0_6_all',
 '0_6_male',
 '0_6_female',
 '7_14_all',
 '7_14_male',
 '7_14_female',
 '0_17_all',
 '0_17_male',
 '0_17_female',
 '16_29_all',
 '16_29_male',
 '16_29_female',
 '0_13_all',
 '0_13_male',
 '0_13_female',
 'raion_build_count_with_material_info',
 'build_count_block',
 'build_count_wood',
 'build_count_frame',
 'build_count_brick',
 'build_count_monolith',
 'build_count_panel',
 'build_count_foam',
 'build_count_slag',
 'build_count_mix',
 'raion_build_count_with_builddate_info',
 'build_count_before_1920',
 'build_count_1921-1945',
 'build_count_1946-1970',
 'build_count_1971-1995',
 'build_count_after_1995',
 'ID_metro',
 'metro_min_avto',
 'metro_km_avto',
 'metro_min_walk',
 'metro_km_walk',
 'kindergarten_km',
 'school_km',
 'park_km',
 'green_zone_km',
 'industrial_km',
 'water_treatment_km',
 'cemetery_km',
 'incineration_km',
 'railroad_station_walk_km',
 'railroad_station_walk_min',
 'ID_railroad_station_walk',
 'railroad_station_avto_km',
 'railroad_station_avto_min',
 'ID_railroad_station_avto',
 'public_transport_station_km',
 'public_transport_station_min_walk',
 'water_km',
 'water_1line',
 'mkad_km',
 'ttk_km',
 'sadovoe_km',
 'bulvar_ring_km',
 'kremlin_km',
 'big_road1_km',
 'ID_big_road1',
 'big_road1_1line',
 'big_road2_km',
 'ID_big_road2',
 'railroad_km',
 'railroad_1line',
 'zd_vokzaly_avto_km',
 'ID_railroad_terminal',
 'bus_terminal_avto_km',
 'ID_bus_terminal',
 'oil_chemistry_km',
 'nuclear_reactor_km',
 'radiation_km',
 'power_transmission_line_km',
 'thermal_power_plant_km',
 'ts_km',
 'big_market_km',
 'market_shop_km',
 'fitness_km',
 'swim_pool_km',
 'ice_rink_km',
 'stadium_km',
 'basketball_km',
 'hospice_morgue_km',
 'detention_facility_km',
 'public_healthcare_km',
 'university_km',
 'workplaces_km',
 'shopping_centers_km',
 'office_km',
 'additional_education_km',
 'preschool_km',
 'big_church_km',
 'church_synagogue_km',
 'mosque_km',
 'theater_km',
 'museum_km',
 'exhibition_km',
 'catering_km',
 'ecology',
 'green_part_500',
 'prom_part_500',
 'office_count_500',
 'office_sqm_500',
 'trc_count_500',
 'trc_sqm_500',
 'cafe_count_500',
 'cafe_sum_500_min_price_avg',
 'cafe_sum_500_max_price_avg',
 'cafe_avg_price_500',
 'cafe_count_500_na_price',
 'cafe_count_500_price_500',
 'cafe_count_500_price_1000',
 'cafe_count_500_price_1500',
 'cafe_count_500_price_2500',
 'cafe_count_500_price_4000',
 'cafe_count_500_price_high',
 'big_church_count_500',
 'church_count_500',
 'mosque_count_500',
 'leisure_count_500',
 'sport_count_500',
 'market_count_500',
 'green_part_1000',
 'prom_part_1000',
 'office_count_1000',
 'office_sqm_1000',
 'trc_count_1000',
 'trc_sqm_1000',
 'cafe_count_1000',
 'cafe_sum_1000_min_price_avg',
 'cafe_sum_1000_max_price_avg',
 'cafe_avg_price_1000',
 'cafe_count_1000_na_price',
 'cafe_count_1000_price_500',
 'cafe_count_1000_price_1000',
 'cafe_count_1000_price_1500',
 'cafe_count_1000_price_2500',
 'cafe_count_1000_price_4000',
 'cafe_count_1000_price_high',
 'big_church_count_1000',
 'church_count_1000',
 'mosque_count_1000',
 'leisure_count_1000',
 'sport_count_1000',
 'market_count_1000',
 'green_part_1500',
 'prom_part_1500',
 'office_count_1500',
 'office_sqm_1500',
 'trc_count_1500',
 'trc_sqm_1500',
 'cafe_count_1500',
 'cafe_sum_1500_min_price_avg',
 'cafe_sum_1500_max_price_avg',
 'cafe_avg_price_1500',
 'cafe_count_1500_na_price',
 'cafe_count_1500_price_500',
 'cafe_count_1500_price_1000',
 'cafe_count_1500_price_1500',
 'cafe_count_1500_price_2500',
 'cafe_count_1500_price_4000',
 'cafe_count_1500_price_high',
 'big_church_count_1500',
 'church_count_1500',
 'mosque_count_1500',
 'leisure_count_1500',
 'sport_count_1500',
 'market_count_1500',
 'green_part_2000',
 'prom_part_2000',
 'office_count_2000',
 'office_sqm_2000',
 'trc_count_2000',
 'trc_sqm_2000',
 'cafe_count_2000',
 'cafe_sum_2000_min_price_avg',
 'cafe_sum_2000_max_price_avg',
 'cafe_avg_price_2000',
 'cafe_count_2000_na_price',
 'cafe_count_2000_price_500',
 'cafe_count_2000_price_1000',
 'cafe_count_2000_price_1500',
 'cafe_count_2000_price_2500',
 'cafe_count_2000_price_4000',
 'cafe_count_2000_price_high',
 'big_church_count_2000',
 'church_count_2000',
 'mosque_count_2000',
 'leisure_count_2000',
 'sport_count_2000',
 'market_count_2000',
 'green_part_3000',
 'prom_part_3000',
 'office_count_3000',
 'office_sqm_3000',
 'trc_count_3000',
 'trc_sqm_3000',
 'cafe_count_3000',
 'cafe_sum_3000_min_price_avg',
 'cafe_sum_3000_max_price_avg',
 'cafe_avg_price_3000',
 'cafe_count_3000_na_price',
 'cafe_count_3000_price_500',
 'cafe_count_3000_price_1000',
 'cafe_count_3000_price_1500',
 'cafe_count_3000_price_2500',
 'cafe_count_3000_price_4000',
 'cafe_count_3000_price_high',
 'big_church_count_3000',
 'church_count_3000',
 'mosque_count_3000',
 'leisure_count_3000',
 'sport_count_3000',
 'market_count_3000',
 'green_part_5000',
 'prom_part_5000',
 'office_count_5000',
 'office_sqm_5000',
 'trc_count_5000',
 'trc_sqm_5000',
 'cafe_count_5000',
 'cafe_sum_5000_min_price_avg',
 'cafe_sum_5000_max_price_avg',
 'cafe_avg_price_5000',
 'cafe_count_5000_na_price',
 'cafe_count_5000_price_500',
 'cafe_count_5000_price_1000',
 'cafe_count_5000_price_1500',
 'cafe_count_5000_price_2500',
 'cafe_count_5000_price_4000',
 'cafe_count_5000_price_high',
 'big_church_count_5000',
 'church_count_5000',
 'mosque_count_5000',
 'leisure_count_5000',
 'sport_count_5000',
 'market_count_5000',
 'price_doc']

In [4]:
train_data.head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>timestamp</th>
      <th>full_sq</th>
      <th>life_sq</th>
      <th>floor</th>
      <th>max_floor</th>
      <th>material</th>
      <th>build_year</th>
      <th>num_room</th>
      <th>kitch_sq</th>
      <th>...</th>
      <th>cafe_count_5000_price_2500</th>
      <th>cafe_count_5000_price_4000</th>
      <th>cafe_count_5000_price_high</th>
      <th>big_church_count_5000</th>
      <th>church_count_5000</th>
      <th>mosque_count_5000</th>
      <th>leisure_count_5000</th>
      <th>sport_count_5000</th>
      <th>market_count_5000</th>
      <th>price_doc</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>2011-08-20</td>
      <td>43</td>
      <td>27.0</td>
      <td>4.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>9</td>
      <td>4</td>
      <td>0</td>
      <td>13</td>
      <td>22</td>
      <td>1</td>
      <td>0</td>
      <td>52</td>
      <td>4</td>
      <td>5850000</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>2011-08-23</td>
      <td>34</td>
      <td>19.0</td>
      <td>3.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>15</td>
      <td>3</td>
      <td>0</td>
      <td>15</td>
      <td>29</td>
      <td>1</td>
      <td>10</td>
      <td>66</td>
      <td>14</td>
      <td>6000000</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>2011-08-27</td>
      <td>43</td>
      <td>29.0</td>
      <td>2.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>10</td>
      <td>3</td>
      <td>0</td>
      <td>11</td>
      <td>27</td>
      <td>0</td>
      <td>4</td>
      <td>67</td>
      <td>10</td>
      <td>5700000</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>2011-09-01</td>
      <td>89</td>
      <td>50.0</td>
      <td>9.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>11</td>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>4</td>
      <td>0</td>
      <td>0</td>
      <td>26</td>
      <td>3</td>
      <td>13100000</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>2011-09-05</td>
      <td>77</td>
      <td>77.0</td>
      <td>4.0</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>...</td>
      <td>319</td>
      <td>108</td>
      <td>17</td>
      <td>135</td>
      <td>236</td>
      <td>2</td>
      <td>91</td>
      <td>195</td>
      <td>14</td>
      <td>16331452</td>
    </tr>
  </tbody>
</table>
<p>5 rows × 292 columns</p>
</div>

In [5]:
n_rows = train_data.shape[0]
pp.pprint('total number of data points: {}'.format(n_rows))
zero_to_NaN_features = ['life_sq',
                        'full_sq',
                        'kitch_sq',
                        'build_year']
train_data[zero_to_NaN_features] = train_data[zero_to_NaN_features] \
    .replace(0, np.NaN)
null_sum = train_data.isnull().sum()
null_tuple = zip(null_sum.index, null_sum)

'total number of data points: 30471'

In [6]:
def get_missing(data, minimal=10, full=False):
    null_sum = data.isnull().sum()
    null_tuple = zip(null_sum.index, null_sum)
    return sorted([null_feature for null_feature
                   in null_tuple if null_feature[1] > n_rows / minimal],
                  key=lambda t: t[1],
                  reverse=True) if not full\
        else sorted([null_feature for null_feature
                     in null_tuple if null_feature[1] > 0],
                    key=lambda t: t[1],
                    reverse=True)

In [7]:
missing_data_features = get_missing(train_data)
missing_data_features

[('hospital_beds_raion', 14441),
 ('build_year', 14135),
 ('state', 13559),
 ('cafe_sum_500_min_price_avg', 13281),
 ('cafe_sum_500_max_price_avg', 13281),
 ('cafe_avg_price_500', 13281),
 ('kitch_sq', 10953),
 ('max_floor', 9572),
 ('material', 9572),
 ('num_room', 9572),
 ('preschool_quota', 6688),
 ('school_quota', 6685),
 ('cafe_sum_1000_min_price_avg', 6524),
 ('cafe_sum_1000_max_price_avg', 6524),
 ('cafe_avg_price_1000', 6524),
 ('life_sq', 6428),
 ('raion_build_count_with_material_info', 4991),
 ('build_count_block', 4991),
 ('build_count_wood', 4991),
 ('build_count_frame', 4991),
 ('build_count_brick', 4991),
 ('build_count_monolith', 4991),
 ('build_count_panel', 4991),
 ('build_count_foam', 4991),
 ('build_count_slag', 4991),
 ('build_count_mix', 4991),
 ('raion_build_count_with_builddate_info', 4991),
 ('build_count_before_1920', 4991),
 ('build_count_1921-1945', 4991),
 ('build_count_1946-1970', 4991),
 ('build_count_1971-1995', 4991),
 ('build_count_after_1995', 4991),
 ('cafe_sum_1500_min_price_avg', 4199),
 ('cafe_sum_1500_max_price_avg', 4199),
 ('cafe_avg_price_1500', 4199)]

In [8]:
missing_data_features = [feature[0] for feature in missing_data_features]

In [9]:
purged_train_data = train_data.drop(missing_data_features, axis=1)

In [10]:
impute_feature = get_missing(purged_train_data, full=True)
impute_feature

[('cafe_sum_2000_min_price_avg', 1725),
 ('cafe_sum_2000_max_price_avg', 1725),
 ('cafe_avg_price_2000', 1725),
 ('cafe_sum_3000_min_price_avg', 991),
 ('cafe_sum_3000_max_price_avg', 991),
 ('cafe_avg_price_3000', 991),
 ('cafe_sum_5000_min_price_avg', 297),
 ('cafe_sum_5000_max_price_avg', 297),
 ('cafe_avg_price_5000', 297),
 ('prom_part_5000', 178),
 ('floor', 167),
 ('metro_min_walk', 25),
 ('metro_km_walk', 25),
 ('railroad_station_walk_km', 25),
 ('railroad_station_walk_min', 25),
 ('ID_railroad_station_walk', 25),
 ('full_sq', 2)]

In [11]:
print 'number of listings with missing information: {}'\
    .format(len(purged_train_data[purged_train_data.isnull().any(axis=1)]))

number of listings with missing information: 1936

In [12]:
purged_train_data[purged_train_data.isnull().any(axis=1)].head()

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>timestamp</th>
      <th>full_sq</th>
      <th>floor</th>
      <th>product_type</th>
      <th>sub_area</th>
      <th>area_m</th>
      <th>raion_popul</th>
      <th>green_zone_part</th>
      <th>indust_part</th>
      <th>...</th>
      <th>cafe_count_5000_price_2500</th>
      <th>cafe_count_5000_price_4000</th>
      <th>cafe_count_5000_price_high</th>
      <th>big_church_count_5000</th>
      <th>church_count_5000</th>
      <th>mosque_count_5000</th>
      <th>leisure_count_5000</th>
      <th>sport_count_5000</th>
      <th>market_count_5000</th>
      <th>price_doc</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>20</th>
      <td>21</td>
      <td>2011-09-22</td>
      <td>74.0</td>
      <td>10.0</td>
      <td>Investment</td>
      <td>Vnukovo</td>
      <td>1.531990e+07</td>
      <td>21040</td>
      <td>0.051549</td>
      <td>0.036270</td>
      <td>...</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>5</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>8200000</td>
    </tr>
    <tr>
      <th>178</th>
      <td>179</td>
      <td>2011-10-22</td>
      <td>98.0</td>
      <td>NaN</td>
      <td>Investment</td>
      <td>Kurkino</td>
      <td>7.792845e+06</td>
      <td>21155</td>
      <td>0.528252</td>
      <td>0.000000</td>
      <td>...</td>
      <td>6</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>3</td>
      <td>0</td>
      <td>0</td>
      <td>10</td>
      <td>0</td>
      <td>11500000</td>
    </tr>
    <tr>
      <th>187</th>
      <td>188</td>
      <td>2011-10-24</td>
      <td>49.0</td>
      <td>NaN</td>
      <td>Investment</td>
      <td>Nagatinskij Zaton</td>
      <td>9.589337e+06</td>
      <td>115352</td>
      <td>0.372602</td>
      <td>0.049637</td>
      <td>...</td>
      <td>10</td>
      <td>2</td>
      <td>0</td>
      <td>9</td>
      <td>30</td>
      <td>0</td>
      <td>7</td>
      <td>66</td>
      <td>16</td>
      <td>8300000</td>
    </tr>
    <tr>
      <th>195</th>
      <td>196</td>
      <td>2011-10-25</td>
      <td>37.0</td>
      <td>NaN</td>
      <td>Investment</td>
      <td>Nagatinskij Zaton</td>
      <td>9.589337e+06</td>
      <td>115352</td>
      <td>0.372602</td>
      <td>0.049637</td>
      <td>...</td>
      <td>14</td>
      <td>4</td>
      <td>0</td>
      <td>14</td>
      <td>32</td>
      <td>0</td>
      <td>7</td>
      <td>69</td>
      <td>12</td>
      <td>2000000</td>
    </tr>
    <tr>
      <th>215</th>
      <td>216</td>
      <td>2011-10-26</td>
      <td>45.0</td>
      <td>NaN</td>
      <td>Investment</td>
      <td>Chertanovo Juzhnoe</td>
      <td>9.282439e+06</td>
      <td>143661</td>
      <td>0.153279</td>
      <td>0.127376</td>
      <td>...</td>
      <td>9</td>
      <td>1</td>
      <td>0</td>
      <td>7</td>
      <td>18</td>
      <td>1</td>
      <td>1</td>
      <td>41</td>
      <td>5</td>
      <td>2825000</td>
    </tr>
  </tbody>
</table>
<p>5 rows × 257 columns</p>
</div>

In [13]:
from datetime import datetime


list(purged_train_data)
timestamp_datetime = [datetime.strptime(date, '%Y-%m-%d')
                      for date in purged_train_data['timestamp']]
oldest = min(timestamp_datetime)
purged_train_data['delta_timestamp'] = [(date - oldest).days
                                        for date in timestamp_datetime]

In [14]:
print 'total number of sub areas {}'\
    .format(len(purged_train_data['sub_area'].value_counts()))
purged_train_data['sub_area'].value_counts().nlargest(10)

# TODO add floor back in

In [35]:
from StringOneHotEncoder import StringOneHotEncoder

encoder = StringOneHotEncoder()
one_hot = encoder.fit_transform(purged_train_data['sub_area'])

for i in range(one_hot.shape[1]):
    purged_train_data['sub_area_one_hot_' + str(i)] = one_hot[:, i].toarray()

In [ ]:
# from sklearn.neighbors import KNeighborsRegressor
# from sklearn.model_selection import train_test_split
# 
# 
# 
# subset = purged_train_data.dropna().head(120)
# train_x, test_x, train_y, text_y = train_test_split(subset,
#                                                     subset['price_doc'],
#                                                     test_size=0.2)
# 
# rgr = KNeighborsRegressor()
# rgr.fit(train_x, train_y)
# 
# %timeit rgr.predict(test_x)